.textar {
    margin: auto;
    width: 80vmin;
    height: 200px;
    top: 82vmin;
    right: 0;
    left: 0;
    position: relative;
}
.square {
    margin: auto;
  /*  border: 4px solid black; */
    width: 90vmin;
    height: 72vmin;
  /*  background: #eee; */
    padding: 0;
    vertical-align: middle;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
}
.item {
    position: absolute;
    width: 10.8%;
    height: 10.8%;
  /*  background: #8e8; */
  /*  border: 2px solid black; */
    border-radius: 50px;
    padding: 0.6%;
    transition: all 0.5s;
    font-size: 5vmin;
    text-align: center;
}

.indexh {
    text-align: center;
    font-size: 1.8vmin;
    position: absolute;
    width: 10.8%;
    height: 2%;
    padding: 0;
}

.indexv {
    text-align: right;
    line-height: 400%;
    font-size: 2vmin;
    position: absolute;
    width: 2%;
    height: 10.8%;
    left: 97.5%;
    padding: 0;
}

.cell {
    position: absolute;
    width: 10.8%;
    height: 10.8%;
   /* background: #aaa; */
    border: 0.2vmin solid black;
    padding: 0;
}
.cell:hover {
    background: #eee;
}
.dot {
    position: absolute;
    border-radius: 1vmin;
    width: 1%;
    height: 1%;
    background: #000;
    border: 0.2vmin solid black;
}
.dot00 { top: 32.66%; left: 32.66%; }
.dot01 { top: 65.97%; left: 32.66%; }
.dot10 { top: 32.66%; left: 65.97%; }
.dot11 { top: 65.97%; left: 65.97%; }

