.textar {
    margin: auto;
    width: 80vmin;
    height: 200px;
    top: 82vmin;
    right: 0;
    left: 0;
    position: relative;
}
.square {
    margin: auto;
    border: 4px solid black;
    width: 80vmin;
    height: 80vmin;
    background: #eee;
    padding: 0;
    vertical-align: middle;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
}
.item {
    position: absolute;
    width: 10.6%;
    height: 10.6%;
    background: #8e8;
    border: 2px solid black;
    border-radius: 50px;
    padding: 0;
    transition: all 0.5s;
    /*font-size: 6vmin;*/
    font-size: 32px;
    text-align: center;
}
.cell {
    position: absolute;
    width: 10.8%;
    height: 10.8%;
    background: #aaa;
    border: 2px solid black;
    padding: 0;
}
.cell:hover {
    background: #eee;
}
.dot {
    position: absolute;
    border-radius: 10px;
    width: 1%;
    height: 1%;
    background: #000;
    border: 2px solid black;
}
.dot00 { top: 32.4%; left: 32.4%; }
.dot01 { top: 65.6%; left: 32.4%; }
.dot10 { top: 32.4%; left: 65.6%; }
.dot11 { top: 65.6%; left: 65.6%; }

.cell11 { top: 0%; left: 0%; }
.cell12 { top: 0%; left: 11.06%; }
.cell13 { top: 0%; left: 22.12%; }
.cell14 { top: 0%; left: 33.18%; }
.cell15 { top: 0%; left: 44.24%; }
.cell16 { top: 0%; left: 55.30%; }
.cell17 { top: 0%; left: 66.36%; }
.cell18 { top: 0%; left: 77.42%; }
.cell19 { top: 0%; left: 88.48%; }
.cell21 { top: 11.06%; left: 0%; }
.cell22 { top: 11.06%; left: 11.06%; }
.cell23 { top: 11.06%; left: 22.12%; }
.cell24 { top: 11.06%; left: 33.18%; }
.cell25 { top: 11.06%; left: 44.24%; }
.cell26 { top: 11.06%; left: 55.30%; }
.cell27 { top: 11.06%; left: 66.36%; }
.cell28 { top: 11.06%; left: 77.42%; }
.cell29 { top: 11.06%; left: 88.48%; }
.cell31 { top: 22.12%; left: 0%; }
.cell32 { top: 22.12%; left: 11.06%; }
.cell33 { top: 22.12%; left: 22.12%; }
.cell34 { top: 22.12%; left: 33.18%; }
.cell35 { top: 22.12%; left: 44.24%; }
.cell36 { top: 22.12%; left: 55.30%; }
.cell37 { top: 22.12%; left: 66.36%; }
.cell38 { top: 22.12%; left: 77.42%; }
.cell39 { top: 22.12%; left: 88.48%; }
.cell41 { top: 33.18%; left: 0%; }
.cell42 { top: 33.18%; left: 11.06%; }
.cell43 { top: 33.18%; left: 22.12%; }
.cell44 { top: 33.18%; left: 33.18%; }
.cell45 { top: 33.18%; left: 44.24%; }
.cell46 { top: 33.18%; left: 55.30%; }
.cell47 { top: 33.18%; left: 66.36%; }
.cell48 { top: 33.18%; left: 77.42%; }
.cell49 { top: 33.18%; left: 88.48%; }
.cell51 { top: 44.24%; left: 0%; }
.cell52 { top: 44.24%; left: 11.06%; }
.cell53 { top: 44.24%; left: 22.12%; }
.cell54 { top: 44.24%; left: 33.18%; }
.cell55 { top: 44.24%; left: 44.24%; }
.cell56 { top: 44.24%; left: 55.30%; }
.cell57 { top: 44.24%; left: 66.36%; }
.cell58 { top: 44.24%; left: 77.42%; }
.cell59 { top: 44.24%; left: 88.48%; }
.cell61 { top: 55.30%; left: 0%; }
.cell62 { top: 55.30%; left: 11.06%; }
.cell63 { top: 55.30%; left: 22.12%; }
.cell64 { top: 55.30%; left: 33.18%; }
.cell65 { top: 55.30%; left: 44.24%; }
.cell66 { top: 55.30%; left: 55.30%; }
.cell67 { top: 55.30%; left: 66.36%; }
.cell68 { top: 55.30%; left: 77.42%; }
.cell69 { top: 55.30%; left: 88.48%; }
.cell71 { top: 66.36%; left: 0%; }
.cell72 { top: 66.36%; left: 11.06%; }
.cell73 { top: 66.36%; left: 22.12%; }
.cell74 { top: 66.36%; left: 33.18%; }
.cell75 { top: 66.36%; left: 44.24%; }
.cell76 { top: 66.36%; left: 55.30%; }
.cell77 { top: 66.36%; left: 66.36%; }
.cell78 { top: 66.36%; left: 77.42%; }
.cell79 { top: 66.36%; left: 88.48%; }
.cell81 { top: 77.42%; left: 0%; }
.cell82 { top: 77.42%; left: 11.06%; }
.cell83 { top: 77.42%; left: 22.12%; }
.cell84 { top: 77.42%; left: 33.18%; }
.cell85 { top: 77.42%; left: 44.24%; }
.cell86 { top: 77.42%; left: 55.30%; }
.cell87 { top: 77.42%; left: 66.36%; }
.cell88 { top: 77.42%; left: 77.42%; }
.cell89 { top: 77.42%; left: 88.48%; }
.cell91 { top: 88.48%; left: 0%; }
.cell92 { top: 88.48%; left: 11.06%; }
.cell93 { top: 88.48%; left: 22.12%; }
.cell94 { top: 88.48%; left: 33.18%; }
.cell95 { top: 88.48%; left: 44.24%; }
.cell96 { top: 88.48%; left: 55.30%; }
.cell97 { top: 88.48%; left: 66.36%; }
.cell98 { top: 88.48%; left: 77.42%; }
.cell99 { top: 88.48%; left: 88.48%; }
