.play-field {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: auto;
    width: 90vmin;
    height: 72vmin;
    padding: 0;
    vertical-align: middle;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
}

.board {
    position: relative;
    width: 80%;
    height: 100%;
}

.cell {
    position: absolute;
    width: 10%;
    height: 10%;
    padding: 0;
}

.cell-line {
    stroke: rgb(0,0,0);
    stroke-width: 0.2%;
}

.dot {
    stroke: rgb(0,0,0);
    stroke-width: 1%;
    stroke-linecap: round;
}

.board-svg {
    height: 100%;
    width: 100%;
    stroke-linecap: square;
    /*background: #ddd;*/
}

.piece {
    position: absolute;
    width: 10%;
    height: 10%;
    padding: 0;
    transition: top 0.5s, left 0.5s;
    font-size: 5vmin;
    text-align: center;
}

.hand {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 10%;
    height: 100%;
    position: relative;

    /* background: #ddd;*/
}

.captive {
    width: 100%;
    height: 10%;
    font-size: 4.5vmin;
    text-align: left;
    padding: 0.2vmin;
    align: center;

    /* background: #ccc;*/
}

.align-right {
    text-align: right;
}

.column-reverse {
    flex-direction: column-reverse;
}

.column-index {
    text-align: center;
    font-size: 1.8vmin;
    position: absolute;
    width: 10%;
    height: 2%;
    top: 1.5%;
    padding: 0;
}

.row-index {
    text-align: right;
    line-height: 400%;
    font-size: 2vmin;
    position: absolute;
    width: 2%;
    height: 10%;
    left: 96%;
    padding: 0;
}

.cell00 {
    visibility: hidden;
}
.cell11 { top: 5%; left: 5%; }
.cell12 { top: 5%; left: 15%; }
.cell13 { top: 5%; left: 25%; }
.cell14 { top: 5%; left: 35%; }
.cell15 { top: 5%; left: 45%; }
.cell16 { top: 5%; left: 55%; }
.cell17 { top: 5%; left: 65%; }
.cell18 { top: 5%; left: 75%; }
.cell19 { top: 5%; left: 85%; }
.cell21 { top: 15%; left: 5%; }
.cell22 { top: 15%; left: 15%; }
.cell23 { top: 15%; left: 25%; }
.cell24 { top: 15%; left: 35%; }
.cell25 { top: 15%; left: 45%; }
.cell26 { top: 15%; left: 55%; }
.cell27 { top: 15%; left: 65%; }
.cell28 { top: 15%; left: 75%; }
.cell29 { top: 15%; left: 85%; }
.cell31 { top: 25%; left: 5%; }
.cell32 { top: 25%; left: 15%; }
.cell33 { top: 25%; left: 25%; }
.cell34 { top: 25%; left: 35%; }
.cell35 { top: 25%; left: 45%; }
.cell36 { top: 25%; left: 55%; }
.cell37 { top: 25%; left: 65%; }
.cell38 { top: 25%; left: 75%; }
.cell39 { top: 25%; left: 85%; }
.cell41 { top: 35%; left: 5%; }
.cell42 { top: 35%; left: 15%; }
.cell43 { top: 35%; left: 25%; }
.cell44 { top: 35%; left: 35%; }
.cell45 { top: 35%; left: 45%; }
.cell46 { top: 35%; left: 55%; }
.cell47 { top: 35%; left: 65%; }
.cell48 { top: 35%; left: 75%; }
.cell49 { top: 35%; left: 85%; }
.cell51 { top: 45%; left: 5%; }
.cell52 { top: 45%; left: 15%; }
.cell53 { top: 45%; left: 25%; }
.cell54 { top: 45%; left: 35%; }
.cell55 { top: 45%; left: 45%; }
.cell56 { top: 45%; left: 55%; }
.cell57 { top: 45%; left: 65%; }
.cell58 { top: 45%; left: 75%; }
.cell59 { top: 45%; left: 85%; }
.cell61 { top: 55%; left: 5%; }
.cell62 { top: 55%; left: 15%; }
.cell63 { top: 55%; left: 25%; }
.cell64 { top: 55%; left: 35%; }
.cell65 { top: 55%; left: 45%; }
.cell66 { top: 55%; left: 55%; }
.cell67 { top: 55%; left: 65%; }
.cell68 { top: 55%; left: 75%; }
.cell69 { top: 55%; left: 85%; }
.cell71 { top: 65%; left: 5%; }
.cell72 { top: 65%; left: 15%; }
.cell73 { top: 65%; left: 25%; }
.cell74 { top: 65%; left: 35%; }
.cell75 { top: 65%; left: 45%; }
.cell76 { top: 65%; left: 55%; }
.cell77 { top: 65%; left: 65%; }
.cell78 { top: 65%; left: 75%; }
.cell79 { top: 65%; left: 85%; }
.cell81 { top: 75%; left: 5%; }
.cell82 { top: 75%; left: 15%; }
.cell83 { top: 75%; left: 25%; }
.cell84 { top: 75%; left: 35%; }
.cell85 { top: 75%; left: 45%; }
.cell86 { top: 75%; left: 55%; }
.cell87 { top: 75%; left: 65%; }
.cell88 { top: 75%; left: 75%; }
.cell89 { top: 75%; left: 85%; }
.cell91 { top: 85%; left: 5%; }
.cell92 { top: 85%; left: 15%; }
.cell93 { top: 85%; left: 25%; }
.cell94 { top: 85%; left: 35%; }
.cell95 { top: 85%; left: 45%; }
.cell96 { top: 85%; left: 55%; }
.cell97 { top: 85%; left: 65%; }
.cell98 { top: 85%; left: 75%; }
.cell99 { top: 85%; left: 85%; }
